# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.venv
*.log

# Modelo
*.h5
*.keras

# Dataset
dataset/
imagenes_reales/
trashnet.zip

# Variables de entorno
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
build/
*.local
